/* START OF TOP PART OF THE WEBPAGE  */
html{
  scroll-behavior: smooth;
}

.nav-item{
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (width: 280px) {
  .welcome-note{
    font-size: 5px;
  }
  .email-div{
    margin-left: 0px;
    margin-right: 0px;
  }
  .div-footer{
    width: 280px;
  }
}

@media screen and (width: 360px) {
  .about-welcome{
    color: #000;
  }
  .testimonial{
    color: #000;
  }
}

/* END OF TOP PART OF THE WEB PAGE */

/* START OF THE MAIN PART OF THE WEBPAGE */
html,
body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.welcome-people {
  vertical-align: middle;
}

.welcome-note {
  position: relative;
  font-family: "Comic Sans Ms";
  color: darksalmon;
  font-size: 70px;
  -webkit-text-stroke: 3px #d6f4f4;
  font-variation-settings: "wght", 100, "ital", 0;
  /* transition: all 4s;
  -webkit-text-stroke: 2px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 5rem;
  text-align: center;
  color: coral;
  font-family: "Meta", sans-serif;*/
  /* text-shadow: 10px 0px #07bccc, 
  15px 15px 0px #e601c0
  20px 20px 0px #e9019a
  25px 25px 0px #f40468
  45px 45px 10px #482896;  */
  cursor: pointer;
}

.about-welcome {
  position: relative;
  color: #fff;
  font-family: "Comic Sans Ms";
  font-size: 30px;
  vertical-align: 10px;
}



.quote {
  justify-content: center;
  font-family: "Comic Sans Ms";
  color: #fff;
  margin-inline: auto;
}



.gallery{
  position: relative;

  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 35s linear infinite;
}

@keyframes rotate{
  from{
    transform: perspective(1200px)rotateY(0deg);
  }

  to{
    transform: perspective(1200px)rotateY(360deg);
  }
}

.gallery span{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--l) * 45deg)) translateZ(380px);
}

.gallery span img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media screen and (width: 1280px)  {
  .gallery{
    margin-left: 450px;
  }
}
@media screen and (width :1366px) {
  .gallery{
    margin-left: 550px;
  }
}

@media screen and (min-width: 768px) and (max-width: 820px) {
  .gallery{
    margin-left: 250px;
  }
  .email-div{
    margin-left: 10px;
    margin-right: 10px;
  }
  .nav{
    margin-top: 0px;
  }
}

@media screen and (width: 912px)  {
  .gallery{
    margin-left: 300px;
  }
.container{
  display: contents;
}
.nav{
  margin-top: 0px;
  margin-right: 140px;
}
.email-div{
  margin-left: 0px;
  margin-right: 0px;
}
}

.text-after-image{
  color: #fff;
  font-family: "Comic Sans Ms";
}

.container{
  display: flex;
}

.why-choose {
  position: relative;
  color: #fff;
  font-family: "Comic Sans Ms";
  font-size: 30px;
  vertical-align: 10px;
  animation-name: welcomenote;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@media screen and (width: 768px) {
  .why-choose{
    color: #000;
  }
}

@media screen and (min-width: 280px) and (max-width: 820px) {
  .container{
    display: contents;
  }
}

.assured-speed {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 10px 20px -5px;
  color: #000;
  font-family: "Comic Sans Ms";
  margin: auto;
  width: 300px;
  position: relative;
  animation-name: divslide;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.assured-speed h3 {
  padding-left: 80px;
}

.assured-speed p {
  font-size: small;
}

.creative-designs {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 10px 20px -5px;
  color: #000;
  font-family: "Comic Sans Ms";
  width: 300px;
  margin: auto;
  position: relative;
  animation-name: divslide;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.creative-designs h3 {
  padding-left: 70px;
}

.creative-designs p {
  font-size: small;
}

.customer-satisfaction {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 10px 20px -5px;
  color: #000;
  font-family:"Comic Sans Ms";
  width: 300px;
  margin: auto;
  position: relative;
  animation-name: divslide;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-fill-mode: both;
}

.customer-satisfaction h3 {
  padding-left: 45px;
}

.customer-satisfaction p {
  font-size: small;
}

/* sliding image div */
.container-two{
  width: 100%;
  position: relative;
  text-align: center;
  color: #fff;
  animation-name: slidingAnimation;
  animation-timing-function: linear;
  animation-duration: 3s;
}


.sliding-image{
  width: 100%;
  height: 500px;
}


@keyframes slidingAnimation{
  from {
    bottom: -200px;
  }
  to{
    bottom: 0px;
  }
}
/* end of sliding image div  */

.testimonial {
  position: relative;
  color: #fff;
  font-family: "Comic Sans Ms";
  font-size: 30px;
  vertical-align: 10px;
  animation-name: welcomenote;
  animation-timing-function: linear;
  animation-duration: 3s;
}

@media screen and (min-width: 412px) and (max-width: 425px) {
  .testimonial{
    color: #000;
  }
}

.shyllon{
  background-color:lightblue;
  border-radius: 20px;
  box-shadow:  10px 10px 20px -5px;
  color: #000;
  font-family: "Comic Sans Ms";
  margin: auto;
  width: 300px;
  position: relative;
  animation-name: divslide;
  animation-timing-function: linear;
  animation-duration: 3s;
}

@keyframes divslide{
  from{
    bottom: -50px;
    animation-delay: 0s;
  }
  to{
    bottom: 0px;
    animation-delay: 2s;
  }
}

.shyllon-image{
  margin-left: 110px;
  border-radius: 50px;
  height: 80px;
  padding-top: 20px;
  width: auto;
}

.shyllon h3{
  padding-left: 110px;
}

.shyllon p{
  font-size: small;
}

.Festus{
  background-color:lavender;
  border-radius: 20px;
  box-shadow: 10px 10px 20px -5px;
  color: #000;
  font-family: "Comic Sans Ms";
  width: 300px;
  margin: auto;
  position: relative;
  animation-timing-function: linear;
  animation-name: divslide;
  animation-duration: 3s;
}

.festus-image{
  height: 80px;
  padding-top: 20px;
  margin-left: 120px;
  border-radius: 50px;
  width: auto;
}

.Festus h3{
  padding-left: 120px;
}

.Festus p{
  font-size: small;
}

.maryam{
  background-color: lightsteelblue;
  border-radius: 20px;
  box-shadow: 10px 10px 20px -5px;
  color: #000;
  font-family:  "Comic Sans Ms";
  width: 300px;
  margin: auto;
  animation-timing-function: linear;
  position: relative;
  animation-name: divslide;
  animation-duration: 3s;
}

.maryam-image{
  height: 80px;
  margin-left: 120px;
  padding-top: 20px;
  border-radius: 50px;
  width: auto;
}

.maryam h3{
  padding-left: 110px;
}

.maryam p{
  font-size: small;
}



/* END OF THE MAIN PART OF THE WEB PAGE */

/* START OF BOTTOM PART OF THE WEBPAGE */
.footer {
  color: #fff;
  position: relative;
  background-color: rgb(53, 53, 53);
}

.email-div{
  background-color: lightblue;
  margin-left: 450px;
  margin-right: 450px;
  border-radius: 20px;
}

@media screen and (min-width: 360px) and (max-width: 425px) {
  .email-div{
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (width: 540px) {
  .about-welcome{
    color: #000;
  }
  .email-div{
    margin-left: 80px;
    margin-right: 80px;
  }
  .div-footer{
    width: 300px;
  }
}

.email-input{
  border: none;
  border-bottom: 2px solid #000;
  background: transparent;
  text-align: center;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 20px;
  font-family: "Comic Sans Ms";
  margin-bottom: 20px;
  animation-name: email;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes email{
  from{
    color: #000;
  }
  to{
    color: #fff;
  }
}

::placeholder{
  text-align: center;
  color: #000;
  opacity: 1;
 }

.order-btn {
  background-color: darksalmon;
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Comic Sans Ms";
  height: 50px;
  width: 200px;
  border-color: #fff;
  border-radius: 30px;
  animation-name: myAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes myAnimation {
  from{
    background-color: lightblue;
  }
  to{
    background-color: lightsteelblue; 
    color: #000;
  }
}

.div-footer {
  border-radius: 20px;
  width: 350px;
  height: 230px;
  padding-top: 7px;
  justify-content: center;
  margin-left: 480px;
  margin-inline: auto;
}



