/* START OF TOP PART OF THE WEBPAGE  */
.nav {
  float: right;
  margin-top: 38px;
  margin-right: 50px;
  font-family: cursive;
  font-size: large;
}

.nav a {
  text-decoration: none;
  color: rgb(180, 93, 180);
}

.nav a:hover {
  color:  #fff;
  transition-duration: 800ms;
}

.image {
  float: left;
  margin-top: 20px;
  margin-left: 5px;
}

.name-header {
  float: left;
  color: rgb(180, 93, 180);
  font-family: cursive;
}
/* END OF TOP PART OF THE WEB PAGE */

/* START OF THE MAIN PART OF THE WEBPAGE */
html,
body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.welcome-people {
  vertical-align: middle;
}

.welcome-note {
  position: relative;
  font-family: cursive;
  color: darksalmon;
  transition: all 2s;
  -webkit-text-stroke: 4px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 5rem;
  text-align: center;
  color: coral;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 0px #07bccc, 
  15px 15px 0px #e601c0
  20px 20px 0px #e9019a
  25px 25px 0px #f40468
  45px 45px 10px #482896;
  cursor: pointer;
}

.welcome-note:hover {
  -webkit-text-stroke: 3px #d6f4f4;
  font-variation-settings: "wght", 100, "ital", 0;
  text-shadow: none;
}

@keyframes welcomenote{
  from{
    top: -50px;
  }
  to{
    top: 0px;
  }
}

.about-welcome {
  position: relative;
  color: #fff;
  font-family: cursive;
  font-size: 30px;
  vertical-align: 10px;
}

.quote {
  justify-content: center;
  font-family: cursive;
  margin-left: 300px;
  margin-right: 300px;
  color: #fff;
}


.secondtwoimages {
  margin-left: 20px;
}

.image-one {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

.centerimage {
  height: 620px;
  width: 600px;
  border-radius: 20px;
  margin-left: 20px;
}

.why-choose {
  position: relative;
  color: #fff;
  font-family: cursive;
  font-size: 30px;
  vertical-align: 10px;
  animation-name: welcomenote;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.assured-speed {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 10px 20px -5px;
  color: #000;
  font-family: cursive;
  margin-left: 30px;
  width: 300px;
  position: relative;
  animation-name: divslide;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.assured-speed h3 {
  padding-left: 80px;
}

.assured-speed p {
  font-size: small;
}

.creative-designs {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 10px 20px -5px;
  color: #000;
  font-family: cursive;
  width: 300px;
  margin-left: 150px;
  position: relative;
  animation-name: divslide;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.creative-designs h3 {
  padding-left: 70px;
}

.creative-designs p {
  font-size: small;
}

.customer-satisfaction {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 10px 20px -5px;
  color: #000;
  font-family: cursive;
  width: 300px;
  margin-left: 140px;
  position: relative;
  animation-name: divslide;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-fill-mode: both;
}

.customer-satisfaction h3 {
  padding-left: 45px;
}

.customer-satisfaction p {
  font-size: small;
}

/* sliding image div */
.container-two{
  width: 100%;
  position: relative;
  text-align: center;
  color: #fff;
  animation-name: slidingAnimation;
  animation-timing-function: linear;
  animation-duration: 3s;
}


.sliding-image{
  width: 100%;
  height: 500px;
}


@keyframes slidingAnimation{
  from {
    bottom: -200px;
  }
  to{
    bottom: 0px;
  }
}
/* end of sliding image div  */

.testimonial {
  position: relative;
  color: #fff;
  font-family: cursive;
  font-size: 30px;
  vertical-align: 10px;
  animation-name: welcomenote;
  animation-timing-function: linear;
  animation-duration: 3s;
}

.shyllon{
  background-color:lightblue;
  border-radius: 20px;
  box-shadow:  10px 10px 20px -5px;
  color: #000;
  font-family: cursive;
  margin-left: 30px;
  width: 300px;
  position: relative;
  animation-name: divslide;
  animation-timing-function: linear;
  animation-duration: 3s;
}

@keyframes divslide{
  from{
    bottom: -50px;
    animation-delay: 0s;
  }
  to{
    bottom: 0px;
    animation-delay: 2s;
  }
}

.shyllon-image{
  margin-left: 110px;
  border-radius: 50px;
  height: 80px;
  padding-top: 20px;
}

.shyllon h3{
  padding-left: 110px;
}

.shyllon p{
  font-size: small;
}

.Festus{
  background-color:lavender;
  border-radius: 20px;
  box-shadow: 10px 10px 20px -5px;
  color: #000;
  font-family: cursive;
  width: 300px;
  margin-left: 150px;
  position: relative;
  animation-timing-function: linear;
  animation-name: divslide;
  animation-duration: 3s;
}

.festus-image{
  height: 80px;
  padding-top: 20px;
  margin-left: 120px;
  border-radius: 50px;
}

.Festus h3{
  padding-left: 120px;
}

.Festus p{
  font-size: small;
}

.maryam{
  background-color: lightsteelblue;
  border-radius: 20px;
  box-shadow: 10px 10px 20px -5px;
  color: #000;
  font-family: cursive;
  width: 300px;
  margin-left: 140px;
  animation-timing-function: linear;
  position: relative;
  animation-name: divslide;
  animation-duration: 3s;
}

.maryam-image{
  height: 80px;
  margin-left: 120px;
  padding-top: 20px;
  border-radius: 50px;
}

.maryam h3{
  padding-left: 110px;
}

.maryam p{
  font-size: small;
}



/* END OF THE MAIN PART OF THE WEB PAGE */

/* START OF BOTTOM PART OF THE WEBPAGE */
.footer {
  color: #fff;
  position: relative;
  background-color: rgb(53, 53, 53);
}

.email-input{
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: coral;
  font-size: 20px;
  font-family: cursive;
  margin-bottom: 20px;
  animation-name: email;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes email{
  from{
    color: coral;
  }
  to{
    color: lightsteelblue;
  }
}

::placeholder{
  text-align: center;
  color: #fff;
  opacity: 1;
 }

.order-btn {
  background-color: darksalmon;
  color: #fff;
  font-size: 20px;
  font-family: cursive;
  height: 50px;
  width: 200px;
  border-color: #fff;
  border-radius: 30px;
  animation-name: myAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes myAnimation {
  from{
    background-color: coral;
  }
  to{
    background-color: lightsteelblue; 
    color: #000;
  }
}

.div-footer {
  border-radius: 20px;
  width: 300px;
  height: 230px;
  padding-top: 7px;
  justify-content: center;
  margin-left: 480px;
  background-color: rgb(180, 93, 180);
}



